@model IEnumerable<QuickbookIntegration1.Models.VendorList>

@{
    ViewData["Title"] = "ViewVendor";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>ViewVendor</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SyncToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherContactInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gstin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcctNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillAddr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SyncToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherContactInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gstin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcctNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAddr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                    <a asp-action="Initiateoauth2" asp-controller="App">Authorize and Sync</a>
            </td>
        </tr>
}
    </tbody>
</table>
