@model IEnumerable<QuickbookIntegration1.Models.vendor>
@{
    ViewData["Title"] = "ViewVendor";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>ViewVendor</h1>

<div style="width:100%;display:flex;justify-content:flex-end;padding-inline:7rem;padding-bottom:1.5rem;gap:2rem;">
    <a asp-action="Initiateoauth2" asp-controller="App" class="btn btn-primary btn-sm">Login</a>
@*</div>
<div style="width:100%;display:flex;justify-content:flex-start;padding-inline:10rem;padding-bottom:1.5rem">*@
    <a asp-action="AddVendor" asp-controller="Home" class="btn btn-primary btn-sm">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                S.No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherContactInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gstin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherContactInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gstin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessNumber)
            </td>
        </tr>
}
    </tbody>
</table>
<div style="width:100%;display:flex;justify-content:flex-end;padding-inline:7rem">
    <a asp-action="QBvendor" asp-controller="App" class="btn btn-primary btn-sm">Sync All</a>
</div>
